<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Modern Forum</title>
  <link rel="stylesheet" href="/static/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <header class="head">
    <a class="logo" href="/">Forum</a>
    <div>
      {{if .IsLoggedIn}}
      <form method="post">
        <div class="rightBtns">
          <label>
            <i class="fa-regular fa-pen-to-square"></i>
            <input type="submit" name="pst" value="" class="postbtn" formaction="/Posting" />
          </label>
          <label>
            <i class="fa-solid fa-power-off"></i>
            <input type="submit" name="logout" value="" class="postbtn" formaction="/logout" />
          </label>
        </div>

      </form>
      {{else}}
      <a class="btn btn1" style="margin-right: 10px;" href="/login">Login</a>
      <a class="btn btn2" href="/register">Register</a>
      {{end}}
    </div>
  </header>
  
  <div class="container">
    <form action="/filter" method="post">
      <div class="filter">
        <select name="category" id="category">
          <option value="">All Categories</option>
          {{range .Categories}}
          <option value="{{.}}">{{.}}</option>
          {{end}}
        </select>
        {{if .IsLoggedIn}}
        <label>
          <input type="checkbox"  name="created" />
          <span>My Posts</span>
        </label>
        <label >
          <input type="checkbox" name="liked" />
          <span>Liked Posts</span> 
        </label>
        {{end}}
        <button type="submit" class="apply-btn">
          <i class="fas fa-check-circle"></i> Apply
        </button>
      </div>
    </form>
    <!-- Main content -->
    <main class="main-content">
      <div class="Posts">
        {{range .Posts}}
        <div class="post">
          <div class="profilInfo">
            <img src="/static/profil.jpg" class="profileImg">
            <span>{{.Name}}</span>
          </div>
          <h4>{{.Title}}</h4>
          {{range .Category}}
          <span class="category"><i class="fas fa-tag"></i> {{.}}</span>
          {{end}}
          <p class="content">{{.Content}}</p>
          <div style="margin-top: 15px;">
            <a class="action-btn" href="/like-dislike?commentid={{.ID}}&action=like&type=post"><i
                class="fas fa-thumbs-up"></i>
              {{.Likes}}</a>
            <a class="action-btn" href="/like-dislike?commentid={{.ID}}&action=dislike&type=post"><i
                class="fas fa-thumbs-down"></i>
              {{.Dislikes}}</a>
            <a class="action-btn" href="/Comment?post_id={{.ID}}"><i class="fas fa-comment"></i></a>
          </div>
        </div>
        {{end}}
      </div>
    </main>
  </div>
</body>

</html>