<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/loginRegister.css" />
    <title>Forum - Login</title>
    <script type="module" src="/static/errorhtml.js"></script>
  </head>

  <body>
    <div class="form-container">
      <form class="myfrom" method="POST" action="/login">
        <h1>login</h1>
        <h2 style="color: red">{{.}}</h2>
        <label for="email">Email or Username</label>
        <input
          class="input"
          type="text"
          name="email"
          placeholder="Enter your email or username"
          required
        /><br />
        <label for="password">Password</label>
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        /><br />
        <input class="input" type="submit" name="login" value="login" />
      </form>
      <p>New to forumApp? <a href="/register">Create an account</a></p>
    </div>
  </body>
</html>
